@import "global.css";
@import "main.css";

.first-paragraph-div {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  font-size: 16px;
  padding: 40px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 18px;
  font-family: "Rubik", serif;
  margin-left: auto;
  margin-right: auto;
}

.About-Us-img {
  width: 500px;
  height: auto;
}
