@import "global.css";
@import "main.css";

.coffee-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
  margin: 20px;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.button {
  background-color: var(--dominantColor) !important;
}

.button:hover {
  background-color: var(--secondaryColor) !important;
}
