.Cafe-name {
  text-align: center;
  padding: 30px;
  background-color: #f4f4f4;
}

.title-part-1 {
  font-family: "Charm", cursive;
  font-size: 3em;
  font-weight: bold;
  display: block;
}

.title-part-2 {
  font-family: "Charm", cursive;
  font-size: 2em;
  font-weight: normal;
  display: block;
}

.navbar {
  background-color: var(--dominantColor) !important;
}

.navbar-brand {
  color: #ffffff;
}
.nav-link {
  color: #ffffff;
}

.footer-row {
  background-color: var(--dominantColor) !important;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-text {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  color: #ffffff;
}
